<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous" />
  <link rel="stylesheet" href="css/app.css" />
  <title>Farhana Yasmin's Blog</title>
</head>

<body>
  <div class="container">
    <header>
      <h1><a href="/">Farhana Yasmin</a></h1>
      <h4>The girl with the super power</h4>
    </header>
    <div class="row">
      <div class="col-8">
        <div class="post-card">
          <h2><a href="#">BFS - Breadth-First Search - easy</a></h2>
          <p>Sunday, 27 Jan 2019</p>
        </div>
        <div class="post-card">
          <h2><a href="#">BFS - Breadth-First Search - easy</a></h2>
          <p>Sunday, 27 Jan 2019</p>
        </div>
        <div class="post-card">
          <h2><a href="#">BFS - Breadth-First Search - easy</a></h2>
          <p>Sunday, 27 Jan 2019</p>
        </div>
        <div class="post-card">
          <h2><a href="#">BFS - Breadth-First Search - easy</a></h2>
          <p>Sunday, 27 Jan 2019</p>
        </div>
        <div class="post-card">
          <h2><a href="#">BFS - Breadth-First Search - easy</a></h2>
          <p>Sunday, 27 Jan 2019</p>
        </div>
        <div class="post-card">
          <h2><a href="#">BFS - Breadth-First Search - easy</a></h2>
          <p>Sunday, 27 Jan 2019</p>
        </div>
        <div class="post-card">
          <h2><a href="#">BFS - Breadth-First Search - easy</a></h2>
          <p>Sunday, 27 Jan 2019</p>
        </div>
        <div class="post-card">
          <h2><a href="#">BFS - Breadth-First Search - easy</a></h2>
          <p>Sunday, 27 Jan 2019</p>
        </div>
      </div>
      <div class="col-4">
        <div class="post-card">
          <ul class="list-unstyled">
            <li><a href="#">Create a new post</a></li>
            <li><a href="#">Sign up</a></li>
            <li><a href="#">Login</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</body>

</html>