<!doctype html>
<html lang="en">
    <style type="text/css">
    #text{
        height:400px;
        width:800px;
    }
    </style>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">

    <title>New Post Page</title>
</head>

<body>
    <form method="POST" action='/new_post'>
        <div class="container">
            <header>
                <h1>New post page</h1>
            </header>
            <textarea name="text" id="text" placeholder="write something..."></textarea>
            <button onClick="add()" id="addPost">Add post</button>
            <div>

            </div>
    </form>

    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <script>
        $(document).ready(function () {

            $("#addPost").on('click', add)

            function add(e) {
                e.preventDefult();
                var data = {
                    text: $("#text").val()
                };
                $.ajax({
                    type: "post",
                    url: 'http://localhost:3000/new_post',
                    data: data,
                    dataType: 'application/json',
                    complete: function (data) {
                        const body = JSON.parse(data.responseText);
                        /* $('#text').html().val = body.text;
                        console.log(body); */
                        alert("hiii");
                    }
                });

            }


        });
    </script>



</body>

</html>